<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<meta charset="UTF-8">

<div layout:fragment="content">

    <div class="alert alert-dark mt-3" th:if="${msg != null}">
        <div>
            <p th:text="${msg}"></p>
        </div>
    </div>
    <div th:if="${msg != null}">
        <a class="btn btn-dark btn-sm" th:href="@{/contrato/cadastrar}">Retornar</a>
    </div>


    <div class="card" th:if="${msg == null}">
        <div class="card text-white bg-dark p-1 text-center">
            <p class="text-white">Cadastrar Itens do Contrato</p>
        </div>

        <div class="card-header mb-2">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <p class="text-dark">Contrato</p>
                        </th>
                        <th>
                            <p class="text-dark">Vencimento do Contrato</p>
                        </th>
                        <th>
                            <p class="text-dark" style="text-align: right;">Valor Total</p>
                        </th>
                        <th>
                            <p class="text-dark" style="text-align: right;">Falta Cadastrar</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            <p class="text-dark" th:text="${contrato_cpf_cnpj}"></p>
                        </th>
                        <th>
                            <p class="text-dark" th:text="${contrato_dataVencimento}" ></p>
                            <input type="hidden" th:value="${contrato_dataVencimento}" id="vencimentocontrato">
                        </th>
                        <th>
                            <p class="text-dark" th:text="${#numbers.formatCurrency(contrato_valor)}" style="text-align: right;"></p>
                            <input type="hidden" th:value="${contrato_valor}" id="valorcontrato">
                        </th>
                        <th>
                            <p class="text-danger" id="faltacadastrar" th:text="${#numbers.formatCurrency(contrato_valor)}" style="text-align: right;">TESTE</p>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="form-group" th:if="${not #lists.isEmpty(itens)}">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Identificador da Duplicata</th>
                    <th>Vencimento da Duplicata</th>
                    <th style="text-align: right;">Valor da Duplicata</th>
                    <th colspan="1"></th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="itemcontrato : ${itens}" id="itens">
                    <td th:text="${itemcontrato.id_duplicata}"></td>
                    <td th:text="${itemcontrato.dataVencimento}"></td>
                    <td th:text="${#numbers.formatCurrency(itemcontrato.vl_duplicata)}" style="text-align: right;"></td>

                    <td><a class="btn btn-danger btn-sm"
                           th:href="@{/item/excluir(item_id=${itemcontrato.id_duplicata}, vl_id=${itemcontrato.vl_duplicata}, contrato_cpf_cnpj=${contrato_cpf_cnpj}, dataVencimento=${contrato_dataVencimento},contrato_valor=${contrato_valor})}">X</a>


                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td>Total</td>
                    <td th:text="${#numbers.formatCurrency(#aggregates.sum(itens.![vl_duplicata]))}" style="text-align: right;"></td>
                    <input type="hidden" th:value="${#aggregates.sum(itens.![vl_duplicata])}" id="total">
                    <td colspan="1"></td>
                </tr>
                </tfoot>
            </table>
        </div>

<!--        <div class="alert alert-danger mt-3" th:if="${msgcontrato != null}" id="divmsgcontratoitem">-->
<!--            <div>-->
<!--                <p id="msgcontratoitem" th:text="${msgcontrato}"></p>-->
<!--            </div>-->
<!--        </div>-->


<!--        <div class="alert alert-danger mt-3">-->
<!--            <div>-->
<!--                <p th:text="${msgcontrato}"></p>-->
<!--            </div>-->
<!--        </div>-->

        <div class="alert alert-danger mt-3" id="divmsgitem">
            <div>
                <p id="msgitem"></p>
            </div>
        </div>


        <div class="card-body border border-2 border border-danger" th:if="${contrato_cpf_cnpj != null}">
            <form method="POST" th:object="${itemcontrato}"
            th:action="@{/item/adicionarpreenchido(contrato_cpf_cnpj=${contrato_cpf_cnpj}, dataVencimentoContrato=${contrato_dataVencimento} ,contrato_valor=${contrato_valor})}" name="itemcontrato" id="incluiitem">

                <div class="form-group mb-1">
                    <label >Identificador da Duplicata:</label>
                    <input class="form-control" type="text" th:field="*{id_duplicata}" th:value="*{id_duplicata}" id="identificador" autofocus autocomplete="off" required/>
                </div>

                <div class="form-group mb-1">
                    <label >Vencimento:</label>
                    <input class="form-control" type="date" th:field="*{dataVencimento}" min="0.01" step="0.01" th:value="*{dataVencimento}" id="vencimentoDP"  name="vencimentoDP" required onfocusout="validaDataItem()">
                </div>


<!--                <div class="form-group mb-3">-->
<!--                    <label th:for="data">Vencimento</label>-->
<!--                    <input class="form-control" name="data" th:type="date" th:field="*{dataVencimento}" th:value="*{dataVencimento}" id="datacontrato"  required onfocusout="validaData()">-->
<!--                </div>-->


                <div class="form-group mb-1">
                    <label >Valor da duplicata:</label>
                    <input class="form-control" type="number" th:field="*{vl_duplicata}" min="0.01" step="0.01" th:value="*{vl_duplicata}" id="valor"  name="valor" required/>
                </div>
                <button type="submit" class="btn btn-dark">Adicionar Duplicata</button>
                </br>
                </br>

                <a type="button" class="btn btn-danger"
                   data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Cancelar</a> <!-- Modal -->
                <div class="modal fade" id="staticBackdrop"
                     data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                     aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">ATENÇÃO!</h5>
                                <a type="button" class="btn-close"
                                   data-bs-dismiss="modal" aria-label="Close"></a>
                            </div>
                            <div class="modal-body">Você tem certeza de que quer cancelar a inclusão do contrato? Todos os dados serão perdidos.</div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-secondary"
                                   data-bs-dismiss="modal">Voltar</a>
                                <a type="button" class="btn btn-danger" th:href="@{/contrato/cadastrar}">Continuar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="navbar-brand" th:href="@{/contrato/persistircontrato(contrato_cpf_cnpj=${contrato_cpf_cnpj}, dataVencimento=${contrato_dataVencimento}, contrato_valor=${contrato_valor})}"> <button type="button" class="btn btn-success" id="botaosalvar">Salvar Contrato</button></a>
            </form>
    </div>
        </div>

    <div layout:fragment="scripts">
        <script>
            window.scrollTo(0,document.body.scrollHeight);

            const salvar = document.getElementById('botaosalvar');
            salvar.hidden = true;

            if (document.getElementById('total')) {

                const valorcontrato = parseFloat(document.getElementById('valorcontrato').value);
                const total = parseFloat(document.getElementById('total').value);
<!--                var msg = "";-->
<!--                if (total > valorcontrato) {-->
<!--                    var msg = "VLR ULTRAPASSADO";-->
<!--                }-->
                document.getElementById('faltacadastrar').innerHTML = (valorcontrato - total).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'});

                if (total == valorcontrato) {
                    salvar.hidden = false;
                } else {
                    salvar.hidden = true;
                }
            }
        </script>
    </div>
</div>
</html>