<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
    <meta charset="UTF-8">
    <title>Estações e Contratos</title>

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous">
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <style>

        #gradiente {
            width:100%;
            height:5em;
            background-color: gray;
            background-image: linear-gradient( to right, black, rgb(66, 65, 65), gray, rgb(250, 244, 244));
        }
    </style>

</head>

<body>

<div class="container-fluid"  style="margin: 0px; padding: 0px; width: 95%">

    <div>
    <div class="row">
        <div class="col-2 bg-dark" style="height: 100vh; min-width: 180px; padding: 10px;">

            <a class="btn btn-dark mt-3 mb-5 ml-3" th:href="@{/}" style="text-align: center; font-size:large;">Estações e Contratos</a>

            <div class="dropdown bg-dark" style=" margin-left: 30px;">
                <a class="btn btn-dark dropdown-toggle" th:href="@{/estacoes}" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Estacoes
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
                    <li>
                        <a class="dropdown-item" th:href="@{/estacoes/consultar}">Consultar Menores Rotas</a>
                    </li>
                </ul>
            </div>

            <div class="dropdown bg-dark mt-2" style=" margin-left: 30px;">
                <a class="btn btn-dark dropdown-toggle" th:href="@{/estacoes}" role="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false">
                    Contratos
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink1">
                    <li>
                        <a class="dropdown-item" th:href="@{/contrato/cadastrar}">Cadastrar</a>
                        <a class="dropdown-item" th:href="@{/contrato/consultar}">Consultar</a>
                    </li>
                </ul>
            </div>

            <div class="dropdown bg-dark mt-2" style=" margin-left: 30px;">
                <a class="btn btn-dark dropdown-toggle" th:href="@{/estacoes}" role="button" id="dropdownMenuLink2" data-bs-toggle="dropdown" aria-expanded="false">
                    Empréstimos
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink1">
                    <li>
                        <a class="dropdown-item" th:href="@{/contrato/emprestimo}">Simular</a>
                    </li>
                </ul>
            </div>


        </div>


        <div class="col-10">
            <div  id="gradiente"></div>
            <div id="conteudo" class="container mt-2" layout:fragment="content"></div>
        </div>

    </div>
    </div>



</div>





<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div layout:fragment="scripts"></div>
    <script>

            var dataHoje = new Date();
            const dataMinimaContrato = adicionaDias(dataHoje, 30);
            const dataMin = dataAnoMesDiaHifens(dataMinimaContrato);
            const dataMinView = dataDiaMesAnoBarras(dataMinimaContrato);
            const dataContratoElemento = document.getElementById('datacontrato')
            if (dataContratoElemento) {
                dataContratoElemento.setAttribute('placeholder', dataMinView);
                dataContratoElemento.setAttribute('min', dataMin);
            }
            const dataMaximaContrato = adicionaDias(dataHoje, 365);
            const dataMax = dataAnoMesDiaHifens(dataMaximaContrato);
            if (dataContratoElemento) {
                dataContratoElemento.setAttribute('max', dataMax);
            }

            const dataMinimaItem = adicionaDias(dataHoje, 30);
            const dataMinI = dataAnoMesDiaHifens(dataMinimaItem);
            const dataMinViewI = dataDiaMesAnoBarras(dataMinimaItem);
            const dataItemElemento = document.getElementById('vencimentoDP')
            if (dataItemElemento) {
                dataItemElemento.setAttribute('placeholder', dataMinView);
                dataItemElemento.setAttribute('min', dataMinI);
            }
            const vencimentoContratoElemento = document.getElementById('vencimentocontrato');
            if (vencimentoContratoElemento) {
                const vencimentoContrato = vencimentoContratoElemento.value;
                const vencimentoContratoSplit = vencimentoContrato.split("/");
                const vencimentoContratoTratado = vencimentoContratoSplit[2] + "-" + vencimentoContratoSplit[1] + "-" + vencimentoContratoSplit[0];
                if (dataItemElemento) {
                    dataItemElemento.setAttribute('max', vencimentoContratoTratado);
                }
            }


            const divmsgcontratoElemento = document.getElementById('divmsgcontrato')
            if (divmsgcontratoElemento) {
                divmsgcontratoElemento.style.display="none";
            }

            const divmsgItemElemento = document.getElementById('divmsgitem');
            if (divmsgItemElemento) {
                divmsgItemElemento.style.display="none";
            }

            function dataAnoMesDiaHifens(data) {
                const dia = data.getDate() > 9 ? data.getDate() : "0" + data.getDate();
                const mes = (data.getMonth() + 1) > 9 ? (data.getMonth() + 1) : "0" + (data.getMonth() + 1);
                const dataRetorno = data.getFullYear() + "-" + (mes) + "-" + dia;
                return dataRetorno;
            }


            function dataDiaMesAnoBarras(data) {
                const dia = data.getDate() > 9 ? data.getDate() : "0" + data.getDate();
                const mes = (data.getMonth() + 1) > 9 ? (data.getMonth() + 1) : "0" + (data.getMonth() + 1);
                const dataRetorno =  dia + "/" +  (mes) + "/" + data.getFullYear();
                return dataRetorno;
            }

            function valida() {
                const cpfcnpjElement = document.getElementById('cpfcnpj');
                const cpfcnpj = cpfcnpjElement.value;
                const msgcontratoElemento = document.getElementById('msgcontrato');
                const divmsgcontratoElemento = document.getElementById('divmsgcontrato');
                if (validaCPF(cpfcnpj) || validaCNPJ(cpfcnpj)) {
                    divmsgcontratoElemento.style.display="none";
                } else {
                    divmsgcontratoElemento.style.display="block";
                    msgcontratoElemento.innerHTML = "CPF/CNPJ inválido!";
                    cpfcnpjElement.focus();
                }
            }

            function validaCPF(cpf) {
                if (cpf.length < 11) {
                    var digitosFaltantes = 11-cpf.length;
                    var acrescentar = "";
                    for (let i = 0; i < digitosFaltantes; i++) {
                        acrescentar += "0";
                    }
                    var cpf = acrescentar + cpf;
                }

                try {
                    var caracteresNumericos = cpf.substring(0, 9).split("");
                    var soma1 = 0, soma2 = 0;
                    for (let i = 0, j = 10; i < 9; i++, j--) {
                        soma1 += j * parseInt(caracteresNumericos[i]);
                        soma2 += (j + 1) * parseInt(caracteresNumericos[i]);
                    }
                    var primeiroDigito = 11 - (soma1 % 11);
                    if (primeiroDigito > 9) primeiroDigito = 0;
                        soma2 += primeiroDigito * 2;
                    var segundoDigito = 11 - (soma2 % 11);
                        if (segundoDigito > 9) segundoDigito = 0;

                    var digitos = parseInt(cpf.substring(9));

                    if (digitos == primeiroDigito * 10 + segundoDigito) {
                     return true;
                    }
                }catch (e) {
                    return false;
                }
                return false;
            }


            function validaCNPJ(cnpj) {
                if (cnpj.length < 14) {
                    var digitosFaltantes = 14-cnpj.length;
                    var acrescentar = "";
                    for (let i = 0; i < digitosFaltantes; i++) {
                    acrescentar += "0";
                    }
                cnpj = acrescentar + cnpj;
                }

                try {
                    var caracteresNumericos = cnpj.substring(0, 12).split("");
                    var soma1 = 0, soma2 = 0;

                    for (let i = 1, j = 6, k = 5; i <= 12; i++, j++, k++) {
                        if (i == 5) j = 2;
                        soma1 += j * parseInt(caracteresNumericos[i-1]);
                        if (i == 6) k = 2;
                        soma2 += k * parseInt(caracteresNumericos[i-1]);
                    }

                    var primeiroDigito = (soma1 % 11);
                    if (primeiroDigito > 9) primeiroDigito = 0;
                        soma2 += primeiroDigito * 9;
                    var segundoDigito = (soma2 % 11);
                    if (segundoDigito > 9) segundoDigito = 0;

                    var digitos = parseInt(cnpj.substring(12));

                    if (digitos == primeiroDigito * 10 + segundoDigito) {
                        return true;
                    }
                }catch (e) {
                    return false;
                }
            return false;
            }

            function validaData() {
                const msgcontratoElemento = document.getElementById('msgcontrato');
                const divmsgcontratoElemento = document.getElementById('divmsgcontrato');
                const dataContratoElemento = document.getElementById('datacontrato');
                const dataContratoDigitada = dataContratoElemento.value;
                const dataTratada = dataContratoDigitada.replace('-','/').replace('-','/');
                const dataContrato = new Date(dataTratada);
                var dataHoje = new Date();
                const dataMinimaContrato = adicionaDias(dataHoje, 29);
                const dataMinimaContratoParaView = adicionaDias(dataHoje, 30);
                const dia = dataMinimaContratoParaView.getDate() > 9 ? dataMinimaContratoParaView.getDate() : "0" + dataMinimaContratoParaView.getDate();
                const mes = (dataMinimaContratoParaView.getMonth() + 1) > 9 ? (dataMinimaContratoParaView.getMonth() + 1) : "0" + (dataMinimaContratoParaView.getMonth() + 1);
                const dataMinimaContratoView = dia + "/" + (mes) +  "/" + dataMinimaContratoParaView.getFullYear();
                if (dataContrato.getTime() >= dataMinimaContrato.getTime()) {
                    divmsgcontratoElemento.style.display="none";

                    const dataMaximaContrato = adicionaDias(dataHoje, 365);
                    const dataMaximaContratoParaView = adicionaDias(dataHoje, 365);
                    const dia1 = dataMaximaContratoParaView.getDate() > 9 ? dataMaximaContratoParaView.getDate() : "0" + dataMaximaContratoParaView.getDate();
                    const mes1 = (dataMaximaContratoParaView.getMonth() + 1) > 9 ? (dataMaximaContratoParaView.getMonth() + 1) : "0" + (dataMaximaContratoParaView.getMonth() + 1);
                    const dataMaximaContratoView = dia1 + "/" + (mes1) +  "/" + dataMaximaContratoParaView.getFullYear();
                    if (dataContrato.getTime() >= dataMaximaContrato.getTime()) {
                        divmsgcontratoElemento.style.display="block";
                        msgcontratoElemento.innerHTML = "Prazo máximo de vencimento: 365 dias (" + dataMaximaContratoView + ").";
                        dataContratoElemento.focus();
                    } else {
                        divmsgcontratoElemento.style.display="none";
                    }
                } else {
                    divmsgcontratoElemento.style.display="block";
                    msgcontratoElemento.innerHTML = "Prazo mínimo de vencimento: 30 dias (" + dataMinimaContratoView + ").";
                    dataContratoElemento.focus();
                }
            }

            function validaDataItem() {
                const msgItemElemento = document.getElementById('msgitem');
                const divmsgItemElemento = document.getElementById('divmsgitem');
                const dataItemElemento = document.getElementById('vencimentoDP');
                divmsgItemElemento.style.display="none";
                const dataItemDigitada = dataItemElemento.value;
                const dataItemTratada = dataItemDigitada.replace('-','/').replace('-','/');
                const dataItem = new Date(dataItemTratada);
                var dataHoje = new Date();
                const dataMinimaItem = adicionaDias(dataHoje, 29);
                const dataMinimaItemParaView = adicionaDias(dataHoje, 30);
                const dia = dataMinimaItemParaView.getDate() > 9 ? dataMinimaItemParaView.getDate() : "0" + dataMinimaItemParaView.getDate();
                const mes = (dataMinimaItemParaView.getMonth() + 1) > 9 ? (dataMinimaItemParaView.getMonth() + 1) : "0" + (dataMinimaItemParaView.getMonth() + 1);
                const dataMinimaItemView = dia + "/" + (mes) +  "/" + dataMinimaItemParaView.getFullYear();


                if (dataItem.getTime() >= dataMinimaItem.getTime()) {
                    divmsgItemElemento.style.display="none";
                    const vencimentoContratoElemento = document.getElementById('vencimentocontrato');
                    const vencimentoContrato = vencimentoContratoElemento.value;
                    const vencimentoContratoSplit = vencimentoContrato.split("/");
                    const vencimentoContratoTratado = vencimentoContratoSplit[2] + "/" + vencimentoContratoSplit[1] + "/" + vencimentoContratoSplit[0];
                    var dataMaximaItem = new Date(vencimentoContratoTratado);
                    const dataMaximaItemParaView = dataMaximaItem;
                    const dia1 = dataMaximaItemParaView.getDate() > 9 ? dataMaximaItemParaView.getDate() : "0" + dataMaximaItemoParaView.getDate();
                    const mes1 = (dataMaximaItemParaView.getMonth() + 1) > 9 ? (dataMaximaItemParaView.getMonth() + 1) : "0" + (dataMaximaItemParaView.getMonth() + 1);
                    const dataMaximaItemView = dia1 + "/" + (mes1) +  "/" + dataMaximaItemParaView.getFullYear();
                    if (dataItem.getTime() > dataMaximaItem.getTime()) {
                        divmsgItemElemento.style.display="block";
                        msgItemElemento.innerHTML = "Prazo máximo de vencimento não pode ultrapassar o vencimento do contrato (" + dataMaximaItemView + ").";
                        dataItemElemento.focus();
                    } else {
                        divmsgItemElemento.style.display="none";
                    }
                } else {
                    divmsgItemElemento.style.display="block";
                    msgItemElemento.innerHTML = "Prazo mínimo de vencimento: 30 dias (" + dataMinimaItemView + ").";
                    dataItemElemento.focus();
                }
            }


            function adicionaDias(data, dias) {
                var dataRetorno = new Date(data);
                dataRetorno.setDate(data.getDate() + dias);
                return dataRetorno;
            }
    </script>

</body>
</html>